.container {
 background: url(daynight.png) no-repeat; 
           }

.appBackground {
    position: relative;
    background-image: url("http;//127.0.0.1/daynight.png");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}


.picture
  {
   background-image:url(/daynight.png);
   background-color:#cccccc;
   background-repeat:no-repeat;
   background-position: center;
   background-size: contain;
}

.map
{
    background-image:url('/daynight.png');
    position:relative;
	            width:100%;
    height:100%;
    background-size: 100% 100%;
   background-repeat:no-repeat;
   background-position: center;
	
}
.map .pin
{
    position:absolute;
}


.picture .pin
{
    position:absolute;
    width:10px;
    height:10px;
    background:red;
}


.icon {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 100%;
    z-index: 2;
}


@font-face {
    font-family: 'mathletebulky';
    src: url('Mathlete-Bulky.otf') format('opentype');;
    font-weight: normal;
    font-style: normal;
	

}


input {
text-align: center;
}